*{
  margin: 0px;
  padding: 0px;
}

.nav{
  display: flex;
  /* list-style: none; */
  /* margin: 30px; */
  /* margin-top: 0px; */
  text-align: center;
  justify-content: space-around;
  font-size: 20px;
  background-color: aliceblue;
  padding-top: 12px;

}
.head{
  display: flex;
  height: 60px;
}
.list{
  list-style: none;
  display: flex;
 margin-left: 30px;

}
.list li{
  margin-left: 30px;
 
}

.place{
  width: 600px;
  height: 40px;

  
}











